<%= form_with(model: idtable, local: true) do |form| %>
  <% if idtable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(idtable.errors.count, "error") %> prohibited this idtable from being saved:</h2>

      <ul>
        <% idtable.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <label for="exampleIDtype">ID Type</label>
  <div class="field">
    <%= form.text_field :idtype %>
  </div>
  <br>
  <label for="exampleMBal">Minimum Balance</label>
  <div class="field">
    <%= form.number_field :minbal %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
