<%= form_with(model: personal, local: true) do |form| %>
  <% if personal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(personal.errors.count, "error") %> prohibited this personal from being saved:</h2>

      <ul>
        <% personal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :tel %>
    <%= form.text_field :tel %>
  </div>

  <div class="field">
    <%= form.label :mobile %>
    <%= form.text_field :mobile %>
  </div>

  <div class="field">
    <%= form.label :idtype %>
    <%= form.select :idtype, ['Gold', 'Emerald','Platinum']%>
  </div>

  <div class="field">
    <%= form.label :rewardtype %>
    <%= form.select :rewardtype, ['Regular', 'Upgraded','Unlimited']%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
