<%= form_with(model: personal, local: true) do |form| %>
  <% if personal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(personal.errors.count, "error") %> prohibited this personal from being saved:</h2>

      <ul>
        <% personal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <label for="exampleInputEmail1">Email Address</label>
  <div class="field">
    <%= form.text_field :email, placeholder: "email@website.com" %>
  </div>
  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  <br>
  <label for="exampleTel">Telephone Number</label>
  <div class="field">
    <%= form.text_field :tel, placeholder: "XXXX-YYYY" %>
  </div>

  <label for="exampleCell">Mobile Number</label>
  <div class="field">
    <%= form.text_field :mobile, placeholder: "+63 XXX-YYY-ZZZZ" %>
  </div>
  <br>
  <label for="exampleIDtype">ID Type</label>
  <div class="field">
    <%= form.select :idtype, ['Gold', 'Emerald','Platinum']%>
  </div>
  <br>
  <label for="exampleReward">Reward Type</label>
  <div class="field">
    <%= form.select :rewardtype, ['Regular', 'Upgraded','Unlimited']%>
  </div>
  <br><br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
