<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="index.css">
  </head>
  
<body style="margin:30px;padding:0">
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top rounded-lg" 
  style="background-color: #0072CE !important;
    border-radius: 0rem !important;
    border-bottom-left-radius: 1.5rem !important;
    border-bottom-right-radius: 1.5rem !important;
    ">

      <a href="https://www.bdo.com.ph/personal"><%=image_tag("logo.svg",style: "height: 30px;")%></a>
      <a class="navbar-brand" href="#" style ="color: white !important;">
          Personal
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <div class="nav-link" style = "background-color:#efefef; border-color:transparent; border-radius: 0.5rem;"> <%= link_to 'New Record', new_personal_path, style: "color:#1e4f8e"%></div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style ="color:white;">
              Others
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style ="background-color:#0072CE; ">
              <div class="dropdown-item"><%= link_to 'ID Types', idtables_path, style: "color:white"%></div>
              <div class="dropdown-item"><%= link_to 'Rewards', rewardtables_path, style: "color:white" %></div>
              <div class="dropdown-divider"></div>
              <div class="dropdown-item"><%= link_to 'All Records', joinp_path(@join), style: "color:white" %></div>
            </div>
          </li>
        </ul>
      </div>
    </nav> 
  <br><br>
  <p id="notice"><%= notice %></p>
    <div class = "card-columns">
      <% @personals.each do |personal| %>
        <div class = "card border-light">
          <div class = "card-header">
            <h4 class ="col-md-6 text-left my-auto" style="white-space:nowrap"><%= personal.email %></h4>
          
            <div class = "btn-group col-md-6 text-right my-auto ">
                <button class="btn btn-primary" style = "background-color:#f7af19; border-color:transparent;"><%= link_to 'Show', personal, style: "color:white"%></button>
                <button class="btn btn-primary" style = "background-color:#f7af19; border-color:transparent;"><%= link_to 'Edit', edit_personal_path(personal), style: "color:white" %></button>
                <button class="btn btn-danger"><%= link_to 'Delete', personal, method: :delete, data: { confirm: 'Are you sure?' },  style: "color:white"%></button>
            </div>
          </div>

          <ul class="list-group list-group-flush">
            <li class = "list-group-item">
              <h6 class = "card-subtitle">Tel. Number</h6>
              <%= personal.tel %>
            </li>
            <li class = "list-group-item">
              <h6 class = "card-subtitle">Mobile Number</h6>
              <%= personal.mobile %>
            </li>
            <li class = "list-group-item">
              <h6 class = "card-subtitle">ID Type</h6>
              <%= personal.idtype %>
            </li>
            <li class = "list-group-item">
              <h6 class = "card-subtitle">Reward Type</h6>
              <%= personal.rewardtype %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
</body>