<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>



<p id="notice"><%= notice %></p>

<h1>Personal</h1>



  <div class = "card-columns">
    <% @personals.each do |personal| %>
      <div class = "card">
        <div class = "card-header row">
          <h4 class ="col-md-6 text-left"><%= personal.email %></h4>
        
          <div class = "btn-group col-md-6 text-center ">
              <button class="btn btn-primary"><%= link_to 'Show', personal %></button>
              <button class="btn btn-primary"><%= link_to 'Edit', edit_personal_path(personal) %></button>
              <button class="btn btn-danger"><%= link_to 'Delete', personal, method: :delete, data: { confirm: 'Are you sure?' } %></button>
          </div>
        </div>
        <h5> Telephone Number </h5>
        <div><%= personal.tel %></div>
        <div><%= personal.mobile %></div>
        <div><%= personal.idtype %></div>
        <div><%= personal.rewardtype %></div>
      </div>
    <% end %>
  </div>

<br>

<%= link_to 'New Record', new_personal_path %>
<%= link_to 'Joins', joinp_path(@join) %>

